<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h3 class="text-left">Group Rankings:</h3>
      <table class="table">
        <tr ng-animate="'animate'" ng-repeat="game in games">
          <td>{{'#'+($index+1)}}</td>
          <td>
            <img ng-src="{{game.cover}}"
                 height="50"
                 width= "50"
            >
          </td>
          <td>{{ game.name }}</td>
        </tr>
      </table>
    </div>
    <div class="col-md-4 col-md-offset-1">
      <h3 class="text-left">Wall of Shame:</h3>
      <table class="table">
        <tr ng-animate="'animate'" ng-repeat="shame in shames">
          <td><strong>{{ shame.name.split(' ')[0]}}</strong>{{' ' +shame.action }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>

